h1 {
    color: rgb(105, 85, 55);
    text-align: center;
}

h2 {
    color: rgb(105, 85, 55);
    text-align: center;
}

div {
    display: inline-block;   
}
 

 
.card {
    position: absolute;
}

.card_1 {
    left: 0px;
}

.card_2 {
    left: 100px;
    margin-left: -40px;
    margin-top: 60px;
}

.card_3 {
    left: 200px;
    margin-left: -70px;
    margin-top: 120px;
}

.card_4 {
    left: 300px;
    margin-left: -100px;
    margin-top: 60px;
}

.card_5 {
    left: 400px;
    margin-left: -130px;
    margin-top: 0;
}

.card_field {
    position: relative;
    /*top: 0;*/
}

