body {
     margin: 0;
}

.nav_block {
    width: 15em;
    background-color: #CCCCCC;
    float: left;
}

.article {
    width: auto;
    margin-bottom: .2em;
    margin-top: 0;
    float: left;
}

.article_1 {
    margin-bottom: .2em;
    background-color: #AAAAAA;
}

.article_2 {
    margin-top: .2em;
    background-color: #AAAAAA;
}

.pic {
    float: right;
}

.footer {
    
    background-color: #CCCCCC;
    clear: both;
}

.menu {
    background-color: rgb(219 219 219);
    width: 15em;
    height: auto;
    float: left;
}
.menu1 {
    width: 15em;
    background-color: blue;
     
}

.cont {
    margin: auto;
    margin-bottom: .2em;
    
}

.cont1 {
    background-color: aqua;
    margin-bottom: .2em;
    
}

.cont2 {
    background-color: yellow;
    margin-bottom: .2em;
    margin-left: 15em;
    display: inline-block;
    float: left;
}

.image {
    width: 128px;
    height: 128px;
    float: right;
    display: inline;
}
 
.foot {
    background-color: red;
    clear: both;
}
