body {
     margin: 0;
}

.nav_block {
    width: 15em;
    background-color: #CCCCCC;
    float: left;
}

.article {
    width: auto;
    margin-bottom: .2em;
    margin-top: 0;
    float: left;
}

.article_1 {
    margin-bottom: .2em;
    background-color: #AAAAAA;
}

.article_2 {
    margin-top: .2em;
    background-color: #AAAAAA;
}

.pic {
    float: right;
}

.footer {
    
    background-color: #CCCCCC;
    clear: both;
}

.menu1 {
    width: 15em;
    background-color: blue;
    float: left; 
}

.cont1 {
    margin: auto;
    margin-bottom: .2em;
    
}

.cont {
    background-color: aqua;
    margin-bottom: .2em;
    
}

.cont2 {
    background-color: yellow;
    margin-bottom: .2em;
    
}

.foot {
    background-color: red;
    clear: both;
}
