body {
     margin: 0;
}

.nav_block {
    width: 15em;
    background-color: #CCCCCC;
    
}

.article {
    /*width: 700px;*/
    background-color: #AAAAAA;
    margin-bottom: .2em;
    margin: 0;
    float: right;
}

.pic {
    float: right;
}

.footer {
    
    background-color: #CCCCCC;
    clear: both;
}