.container {
    width: 400px;
    background-color: black;
    color: green;
    overflow: auto;
    height: 74px;
}

.list {
    width: 350px;
}

ol li { font-weight: bold;
    list-style: upper-roman;
}

ol ol li { font-weight: normal;
    list-style: lower-roman;
}

